<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>VUE Ting</title>
</head>

<body>
    <div style="width: 70%; margin: auto;">
        <div id="app">
            {{message}}
            <ol>
                <todo-item v-for="item in groceryList" :todo="item" :key="item.id"></todo-item>
            </ol>

        </div>

        <div id="watch-example">
            <p>Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
        </div>
    </div>

    <script>
        Vue.config.devtools = true;

        var watchExample = new Vue({
            el: '#watch-example',
            data: {
                question: '',
                answer: 'Ask something first, bitch!'
            },
            watch: {
                question: function (newQ, oldQ) {
                    this.answer = 'Waiting for you to stop typing...';
                    this.getAnswer();
                }
            },
            methods: {
                getAnswer: _.debounce(
                    function () {
                        if (this.question.indexOf('?') === -1) {
                            this.answer = 'Questions usually contain a question mark, bitch.';
                            return;
                        }
                        this.answer = 'Thinking...';
                        var vm = this;

                        axios.get('https://yesno.wtf/api')
                            .then(function (res) {
                                vm.answer = _.capitalize(res.data.answer);
                            })
                            .catch(function (err) {
                                vm.answer = 'Error! Could not reach API' + err;
                            });
                    },
                    500
                )}
        });

        Vue.component('todo-item', {
            props: [
                'todo'
            ],
            template: '<li>{{ todo.text }}</li>'
        });

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Bees are gay.',
                groceryList: [
                    { id: 0, text: 'Vegetables' },
                    { id: 1, text: 'Cheese' },
                    { id: 2, text: 'Whatever else humans eat' }
                ]
            },
            computed: {

            }
        });
    </script>
</body>

</html>